version: '3.8'

services:
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    restart: always
    environment:
      - POSTGRES_PASSWORD=test
      - POSTGRES_USER=postgres
      - POSTGRES_DB=market_data
      - TS_TUNE_MEMORY=8GB 
      - TS_TUNE_NUM_CPUS=4
    ports:
      - "5432:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql/data