version: '3.8'

services:
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    restart: always
    environment:
      - POSTGRES_PASSWORD=test
      - POSTGRES_USER=postgres
      - POSTGRES_DB=market_data
      - TS_TUNE_MEMORY=4GB 
      - TS_TUNE_NUM_CPUS=4
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - main

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - main

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: "george.ermekov@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "1111"
      SCRIPT_NAME: /pgadmin
    ports:
      - "5433:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - main
    logging:
      options:
        max-size: 10m

networks:
  main:
    driver: bridge

volumes:
  pg_data:
  redis-data:
  pgadmin_data:
